<nav class="flex w-full h-12 bg-red-400 items-center sticky top-0">
  <a href="/presets" class="ml-4 text-3xl curser-pointer">Presets Platform{{ title ? ` ${title}` : '' }}</a>

  <div class="ml-auto mr-4 flex gap-4">
    {{{ await $slots.main() }}}
  </div>
</nav>
