<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Presets Platform</title>
  @entryPointStyles('app')
</head>
<body>
@component('partials/nav')
<button>Login</button>
<button>Login</button>
@end

<main class="px-4 container mx-auto">
  <h1 class="text-4xl text-center">Create a preset</h1>
</main>
@entryPointScripts('app')
</body>
</html>
