@layout('base')

@section('head')
  <title>Presets Platform - List</title>
@end

@section('body')
  @component('partials/nav')
    @!component('partials/nav-actions')
  @end

  @component('partials/body')
    <main class="px-4 py-8 container mx-auto">
      <h1 class="text-center mb-8 flex items-center">
        <a href="/presets">Back</a>
        <span class="grow text-4xl"><code>{{ preset.name }}</code> by {{ preset.createdBy.username }}</span>
      </h1>
    </main>
  @end
@end
